<!-- Preloader
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
-->
<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">
                    <!-- Nav brand -->
                    <a href="" class="nav-brand"><img src="assets/img/bg-img/c13.png" alt=""></a>
                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="">Accueil</a></li>
                                <li><a href="index.html">Randonnée</a></li>
                                <li><a routerLink="/events">Evennment</a></li>
                                <li><a href="/shop">Shop </a></li>
                                <li><a href="">Contacter</a></li>
                                
                                <li class="nav-item" *ngIf="showAdminBoard">
                                 
                                    <a class="nav-link" routerLink="/admin">Dashboard</a>
                                </li>
                            </ul>

                            <!-- Login/Register & Cart Button -->
                            <div class="login-register-cart-button d-flex align-items-center">
                                <!-- Login/Register -->

                                <li class="nav-item dropdown d-none d-lg-block user-dropdown">
                                    <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                      <img class="img-xs rounded-circle" src="assets/admin/images/faces/face8.jpg" alt="Profile image"> </a>
                                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                                      <div class="dropdown-header text-center">
                                        <img class="img-md rounded-circle" src="assets/admin/images/faces/face8.jpg" alt="Profile image">
                                        <p class="mb-1 mt-3 font-weight-semibold">{{ username }}</p>
                                        <p class="fw-light text-muted mb-0">{{ email }}</p>
                                      </div>
                                      <a class="dropdown-item" *ngIf="isLoggedIn" routerLink="/profil"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
                                      <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> Messages</a>
                                      <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i> Activity</a>
                                      <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-help-circle-outline text-primary me-2"></i> FAQ</a>
                                      <a class="dropdown-item" (click)="logout()" *ngIf="isLoggedIn"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
                                    </div>
                                  </li>
                                <!-- Cart Button -->
                               
                                <a class="classynav" routerLink="/login" id="loginBtn" *ngIf="!isLoggedIn">Login/Register</a>
                            </div>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->
<router-outlet> </router-outlet>
<!-- ##### Footer Area Start ##### -->
<footer class="footer-area ">
    <div class="container ">
        <div class="row d-flex flex-wrap align-items-center ">
            <div class="col-12 col-md-6 ">
                <a><img src="assets/img/bg-img/c13.png" alt=" "></a>
            </div>
            <div class="col-12 col-md-6 ">
                <div class="footer-nav ">
                    <ul>
                        <li><a routerLink="">Home</a></li>
                        <li><a>Events</a></li>
                        <li><a>News</a></li>
                        <li><a>Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->
