<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/h.jpg);">
    <div class="">
       
    </div>
</section>

<div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
  
    <!-- Spinner End -->


    <!-- Navbar Start -->
  
    <!-- Navbar End -->


    <!-- Header Start -->
    
    <!-- Header End -->


    <!-- Search Start -->
    <div class="container-fluid bg-primary mb-5 wow fadeIn"  style="padding: 70px;">
        <div class="container">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-4">
                            <input type="text" class="form-control border-0 py-3" placeholder="Search Keyword">
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0 py-3">
                                <option selected>Property Type</option>
                                <option value="1">Property Type 1</option>
                                <option valyue="2">Property Type 2</option>
                                <option value="3">Property Type 3</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0 py-3">
                                <option selected>Location</option>
                                <option value="1">Location 1</option>
                                <option value="2">Location 2</option>
                                <option value="3">Location 3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-dark border-0 w-100 py-3">Search</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Search End -->

    <div class="container-fluid  mb-5 wow fadeIn" data-wow-delay="1.2s" style="padding: 70px;">
        <div class="container">
          
            <div class = "product-detail">
                <h2 >Business sur CAMPINGO </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet veniam tempora fuga tenetur placeat sapiente architecto illum soluta consequuntur, aspernatur quidem at sequi ipsa!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.</p>
             
             
              </div>
                <div class="col-md-2">
                    
                  <div class = "product-detail">
         </div>
    </div>   <button class="btn btn-dark border-0 w-100 py-3">Ajouter un Annonce</button>
                </div>
            
        </div>
       
    <!-- Contact Start -->
    
    <!-- Contact End -->


    <!-- Footer Start -->
    
    <!-- Footer End -->

  <!-- ##### Events Area Start ##### -->
  <section class="events-area section-padding-100">
    <div class="container">
        <div class="row">

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4 ">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <img src="assets/img/bg-img/e1.jpg" alt="">
                    </div>
                    <div class="event-text">
                        <h4>Dj Night Party</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">VIP Sala</a>
                            <a href="#" class="event-date">June 15, 2018</a>
                        </div>
                        <a href="/detail" class="btn see-more-btn">See Event</a>
                    </div>
                </div>
            </div>

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <img src="assets/img/bg-img/e2.jpg" alt="">
                    </div>
                    <div class="event-text">
                        <h4>The Mission</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">Gold Arena</a>
                            <a href="#" class="event-date">June 15, 2018</a>
                        </div>
                        <a href="#" class="btn see-more-btn">See Event</a>
                    </div>
                </div>
            </div>

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <img src="assets/img/bg-img/e3.jpg" alt="">
                    </div>
                    <div class="event-text">
                        <h4>Planet ibiza</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">Space Ibiza</a>
                            <a href="#" class="event-date">June 15, 2018</a>
                        </div>
                        <a href="#" class="btn see-more-btn">See Event</a>
                    </div>
                </div>
            </div>

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <img src="assets/img/bg-img/e4.jpg" alt="">
                    </div>
                    <div class="event-text">
                        <h4>Dj Night Party</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">VIP Sala</a>
                            <a href="#" class="event-date">June 15, 2018</a>
                        </div>
                        <a href="#" class="btn see-more-btn">See Event</a>
                    </div>
                </div>
            </div>

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <img src="assets/img/bg-img/e5.jpg" alt="">
                    </div>
                    <div class="event-text">
                        <h4>The Mission</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">Gold Arena</a>
                            <a href="#" class="event-date">June 15, 2018</a>
                        </div>
                        <a href="#" class="btn see-more-btn">See Event</a>
                    </div>
                </div>
            </div>

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <img src="assets/img/bg-img/e6.jpg" alt="">
                    </div>
                    <div class="event-text">
                        <h4>Planet ibiza</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">Space Ibiza</a>
                            <a href="#" class="event-date">June 15, 2018</a>
                        </div>
                        <a href="#" class="btn see-more-btn">See Event</a>
                    </div>
                </div>
            </div>

            <!-- Single Event Area -->
            <div class="">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <img src="assets/img/bg-img/e7.jpg" alt="">
                    </div>
                    <div class="event-text">
                        <h4>Dj Night Party</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">VIP Sala</a>
                            <a href="#" class="event-date">June 15, 2018</a>
                        </div>
                        <a href="#" class="btn see-more-btn">See Event</a>
                    </div>
                </div>
            </div>

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <img src="img/bg-img/e8.jpg" alt="">
                    </div>
                    <div class="event-text">
                        <h4>The Mission</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">Gold Arena</a>
                            <a href="#" class="event-date">June 15, 2018</a>
                        </div>
                        <a href="#" class="btn see-more-btn">See Event</a>
                    </div>
                </div>
            </div>

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <img src="img/bg-img/e9.jpg" alt="">
                    </div>
                    <div class="event-text">
                        <h4>Planet ibiza</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">Space Ibiza</a>
                            <a href="#" class="event-date">June 15, 2018</a>
                        </div>
                        <a href="#" class="btn see-more-btn">See Event</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <div class="load-more-btn text-center mt-70">
                    <a href="#" class="btn oneMusic-btn">Load More <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Events Area End ##### -->

<!-- ##### Newsletter & Testimonials Area Start ##### -->
<section class="newsletter-testimonials-area">
    <div class="container">
        <div class="row">

            <!-- Newsletter Area -->
            
        </div>
    </div>
</section>
<!-- ##### Newsletter & Testimonials Area End ##### -->

<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img" style="background-image: url(img/bg-img/bg-2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading white">
                    <p>See what’s new</p>
                    <h2>Get In Touch</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Contact Form Area -->
                <div class="contact-form-area">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="E-mail">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn oneMusic-btn mt-30" type="submit">Send <i class="fa fa-angle-double-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Back to Top -->
 
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="assets/utilisateur/js/main.js"></script>